
.mainDiv {
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
  }
  
  
  .tableWrapper {
    overflow-x: auto;  
    overflow-y: auto;  
    max-height: fit-content;  
    width: 100%;
    margin: 20px; 
  }
  

  .responsesTable {
    margin-left: 78px;
    max-width: fit-content;
    border-collapse: collapse;
  }
  
  .headingRow th,
  .responsesRow td {
    padding: 10px;
    min-height: 50px;
    min-width: 180px;
    border: 1px solid #00000084;
    text-align: center;
    vertical-align: middle;
  }
  
  .serialNumber {
    text-align: center;
  }
  
  .boxDiv {
    text-align: center;
  }

  .CompletionStatsMain {
    margin-top: 20px;
  }
  

  
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin: 50px 0px;
}

.stat {
    height: 70px;
    width: 90px;
    border: 1px solid #00000084;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #555555d3;
    color: #ffffff;
    font-weight: 600;
}

.CompletionStatsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 60px;
}

.completionRateDiv {
    height: 80px;
    width: 150px;
    border: 1px solid #00000084;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}


/* Example of CSS for light and dark themes */
.mainDiv.light {
    background-color: #fff;
    color: #000;
  }
  
  .mainDiv.dark {
    background-color: #333;
    color: #fff;
  }
  

body[data-theme="light"] {
    background-color: white;
    color: black;
  }
  
  /* Dark theme styles */
  body[data-theme="dark"] {
    background-color: #1F1F23;
    color: white;
  }
  
  /* Optional smooth transition */
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .themeDiv{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .themeSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .themeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 23px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #1A5FFF;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }


.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1.5px solid #65656581;
}

body[data-theme="dark"] .navbar {
  background-color: #18181B; 
}

.formName input{
  border: none;
  height: 25px;
  width: 200px;
  /* background-color: #37373eac; */
  color: #ffffff;
  border: 1px solid #858585;
  color: #27272A;
  border-radius: 3px;
  padding: 0px 5px;
}

.flow {
  background-color: transparent;
  color: #7EA6FF;
  border: 1px solid #7EA6FF;
  border-radius: 5px;
  height: 30px;
  width: 60px;
}

.response {
  border: none;
  background-color: transparent;
}

.flowNResponseDiv {
  display: flex;
  gap: 8px;
}

.themeNShareDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.shareButton {
  background-color: #1A5FFF;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  height: 30px;
  width: 70px;
}

.saveButton {
  height: 30px;
  width: 70px;
  background-color: #4ADE80CC;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.Xbutton {
  background-color: transparent;
  border: none;
  color: #F55050;
}



